
<ul class="topic-list">
  <% topics.each do |topic| %>
    <div class="media">
        <img class="mr-3" src="<%= gravatar_url(topic.user, {size: 50}) %>" alt="">
      <div class="media-body">
        Title: <strong><%= topic.name %></strong>

        <%= link_to topic.user.name, user_path(topic.user) %> <span class="text-muted">posted at <%= topic.created_at %></span>
        <div>
          <p><%= topic.content %></p>
        </div>
        <div>
          <% if current_user == topic.user %>
            <%= link_to "削除", topic, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
          <% else %>
          <%= render 'ownerships/good_button', topic: topic %>
           <% end %>
        </div>
      </div>
      </div>
  <% end %>
  <%= paginate topics %>
</ul>
