<div class="header text-center">
  <h1>Topic一覧</h1>
</div>
<ul class="topic-list">
  <% topics.each do |topic| %>
    <div class="media">
      <div class="media-top"></div>
        <img class="media-object img-rounded" src="<%= gravatar_url(topic.user, {size: 50}) %>" alt="">
      </div>
      <div class="media-body">
        <%= link_to topic.user.name, user_path(topic.user) %> <span class="text-muted">posted at <%= topic.created_at %></span>
        <div>
          <p><%= topic.content %></p>
        </div>
        <div>
          <% if current_user == topic.user %>
            <%= link_to "Delete", topic, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
          <% end %>
        </div>
      </div>
  <% end %>
  <%= paginate topics %>
</ul>
