<div class="user_show">
<div class="row">
  <div class="col-md-6">
    <div class="profile1">
      <strong>ユーザ名</strong><br>
    </div>
    <%= @user.name %>
    <div class="profile1">
      <strong>在籍している大学or専門学校</strong><br>
    </div>
    <%= @user.school %>
    <div class="profile1">
      <strong>志望業界または企業・職種</strong> <%= link_to '編集',  job_edit_user_path, class: 'btn btn-default btn-xs' %><br>
    </div>
    <%= @user.job %>
    <div class="profile1">
      <strong>自己紹介</strong> <%= link_to '編集',  edit_user_path, class: 'btn btn-default btn-xs' %><br>
    </div>
    <%= @user.intro %>
  </div>
  <div class="col-md-6">
    <div class="user-profile">
      <div class="icon text-center">
        <img src="<%= gravatar_url(current_user, size: 100) %>" alt="" class="img-circle">
      </div>
      <div class="status text-center">
        <ul>
          <li>
            <div class="status-label">Empathy</div>
            <div id="good_count" class="status-value">
              <%= @count_goods %>
            </div>
          </li>
          <li>
            <div class="status-label">Your Topic</div>
            <div id="topic_count" class="status-value">
              <%= @count_topics %>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="text-center">
      <h3>投稿歴</h3>
    </div>
    <div>
      <%= render 'topics/topic', topics: @topics %>
    </div>
  </div>
</div>
</div>
