<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">Job Chain</a>

      <div class="collapse navbar-collapse justify-content-end" id="bs-example-navbar-collapse-1">
        <ul class="navbar-nav ">
          <% if user_signed_in? %>



            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
                <span class="gravatar">
                  <img src="<%= gravatar_url(current_user, size: 20) %>" alt="" class="img-circle">
                </span>
                <%= current_user.name %>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item">
                  <%= link_to 'マイページ', user_path(current_user) %>
                </a>
                <a class="dropdown-item">
                  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete  %>
                </a>
              </div>
            </li>

            <li class="nav-link text-light">
              <i class="fas fa-signal"></i> <a class="nav-ranking"><%= link_to 'Ranking',rankings_good_path  %></a>
            </li>


            <li class="nav-link text-light">
              <i class="fas fa-pen"></i> <%= link_to 'Topic投稿',new_topic_path %>
            </li>



          <% else %>
            <li class="nav-link">
            <a class="dropdown-menu"><%= link_to 'Login', new_user_session_path, class: 'post' %></a>
            </li>
            <li class="nav-link">
            <a class="dropdown-menu"><%= link_to 'Sign up',  new_user_registration_path, class: 'post' %></a>
            </li>
          <% end %>
        </ul>
      </div>
  </nav>
</header>

